.btn-green {
	color: #3B5221;
}

.btn-red {
	color: #D60000;
}

.btn-grey {
	color: #888 !important;
}

.btn-black {
	color: #000;
}

.strikethrough {
	text-decoration: line-through; 
}

.participantsbar {
	clear:both color: #105289;
	display:inline-block;
}

.participate-copyright.footer-row {
	font-size: 10px;
	line-height: 1.8;
	margin: 0;
}